# development
**/*.pyc
**/.venv/
**/.cache/
**/.pytest_cache/
**/__pycache__/

# model checkpoints and data
checkpoints
data

# IDE
.env
.DS_Store
.vscode/*

# jupyter
**/notebooks/
**/*.ipynb
**/*.ipynb_checkpoints/
